<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

</configuration>
